.index {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  height: 100vh;
  padding: 0 10px;
  background-image: url(../../asset/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .swiper-container{
    width: 100%;
    height: 55vw;
    .image{
      width: 100%;
    }
    margin-bottom: 20px;
  }
  .btn-join-team, .btn-build-team, .btn-add-team{
    width: 100%;
  }
  .btn-add-team{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}